<p id="notice"><%= notice %></p>

<h1>Listing Ratings</h1>

<div>
  <div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><h3>Name</h3></div>
      <div class="col-md-1"><h3>Score</h3></div>
      <div class="col-md-3 col-md-offset-4"><p>Total of <%= @ratings.count %> ratings.</p></div>
    </div>
    <% @ratings.each do |rating| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 col-xs-1"><%= link_to rating.beer.to_s, rating.beer %></div>
        <div class="col-md-1 col-xs-1"><%= rating.score %></div>
        <div class="col-md-2 col-md-offset-3"><%= rating.to_s %></div>
        <div class="col-md-1 col-md-offset-2"><%= button_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?'} %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Rating', new_rating_path %>
