<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

  <h2><i>Established in <%= @brewery.year %></i></h2>

<p> Providing <%= @brewery.beers.count %> beers.</p>

<p> <%= link_to 'list of beers', beers_path %> </p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name,  beer%>
 <% end %>
</p>

<p>
	<% if @brewery.ratings.empty? %>
	 There's no rating on the beers in this brewery!
	<% else %>
	 Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average: <%= @brewery.average_rating %>
	<% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) if current_user %> |
<%= link_to 'Back', breweries_path %>
