<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

  <h2><i>Established in <%= @brewery.year %></i></h2>

<p> Provding <%= @brewery.beers.count %> beers.</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
