<p id="notice"><%= notice %></p>

<h1>Listing Beers</h1>

<div>
  <div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><h3>Name</h3></div>
      <div class="col-md-1"><h3>Style</h3></div>
      <div class="col-md-1"><h3>Brewery</h3></div>
    </div>
    <% @beers.each do |beer| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 col-xs-1"><%= link_to beer.name, beer %></div>
        <div class="col-md-1 col-xs-1"><%= beer.style %></div>
        <div class="col-md-1 col-xs-1"><%= link_to beer.brewery.name, beer.brewery %></div>
        <div class="col-md-1 col-md-offset-5 col-xs-1"><%= button_to 'Edit', edit_beer_path(beer), {:class => "btn btn-default" } if current_user %></div>
        <div class="col-md-1 col-xs-1"><%= button_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?'} if current_user %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to('New Beer', new_beer_path) if current_user %>
